VITE_API_URL=https://nnepo1o9p9.execute-api.ap-southeast-2.amazonaws.com
VITE_COGNITO_USER_POOL_ID=ap-southeast-2_axdlQdPWp
VITE_COGNITO_CLIENT_ID=3qafsh4cav0dferfddirvc6qkc
VITE_AWS_REGION=ap-southeast-2